
<script>
    $(document).on("ready page:change", function() {
        $('button').tooltip();
    });




</script>


<table class='table-fixed col-md-3'>
  <% if @courses.any? %>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_code %></td>
        <!--<td><%= course.name %></td>-->
        <!--<td><%= course.description %></td>-->
        <!--<td><%= course.breadth %></td>-->
        <!--<td><%= course.level %></td>-->
        <td><%= course.campus %></td>
        <td><%= course.term %></td>
      </tr>
      <tr>
        <td colspan="4">
          <% course.lectures.map(&:lecture_code).uniq.sort.each do |lecture_code| %>
              <%
                lecture_info = Lecture.get_similar_lectures(course.id, lecture_code)
                html_msg = Lecture.format_lectures_string(lecture_info)
                puts html_msg
              %>
              <%= link_to lecture_code, add_lecture_path(:lecture_code => lecture_code, :course_id => course.id),
                          method: :post, remote: true, class: "button btn btn-secondary add-lecture", :"data-toggle" => "tooltip",
                          :"data-placement" => "top", :"data-html" => "true", :"title" => html_msg%>


              <!--<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top"-->
                      <!--data-html="true" title="<%= html_msg %>" >-->
                <!--<%= lecture_code %>-->
              <!--</button>-->
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <div>
      TODO: Search Prompt
    </div>
  <% end %>
</table>
