<h1>Course Planner</h1>

<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(function() {
        $("#courses_search input").keyup(function() {
            $.get($("#courses_search").attr("action"), $("#courses_search").serialize(), null, "script");
            return false;
        });
    });
    $("#courses").html("<%= escape_javascript(render("course_listing")) %>");
</script>

<%= form_tag planner_path, :method => 'get', :id => "courses_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
    </p>

    <div id="courses">
      <%= render partial: 'course_listing' %>
    </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>

<h1>Program Requirements</h1>
<%= render partial: "programs", collection: @programs%>
