<!DOCTYPE html>
<html>
<script type="text/javascript">
  function load_lectures_into_calendar() {
    $.ajax({url: "/enrolled_lectures", type: 'GET', success: function(result){
      for (row=8; row<=22; row++) {
        for (col=1; col<=5; col++) {
          console.log('#cell-' + row + '-' + col)
          $('#cell-' + row + '-' + col).css({"background-color": '#ffffff'}); 
          $('#cell-' + row + '-' + col).text(''); 
        }
      }
      for (i=0; i<result.length; i++) {
        // console.log('#' + result[i]['id'])
        $('#' + result[i]['id']).css({"background-color": '#c1c1d7'}); 
        $('#' + result[i]['id']).text(result[i]['course']); 
      }
    }});
  }
</script>
<head>
  <title>Course Planner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>