<!DOCTYPE html>
<html>
<script type="text/javascript">
  function toggle(it) {
    if ((it.style.backgroundColor == "none") || (it.style.backgroundColor == ""))
      {it.style.backgroundColor = "yellow";}
    else
      {it.style.backgroundColor = "";
  }
}

  function go() {
    $.ajax({url: "/lectures", type: 'GET', success: function(result){
      for (i=0; i < result.length; i++) {
        $('#' + result[i]).css({"background-color":"blue"}); 
      }
    }});
  }
</script>
<head>
  <title>Course Planner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>